[user]
	name = SAGAR VERMA
	email = 93580397+Sagarvermakumar@users.noreply.github.com
[safe]
	directory = F:/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
